.le__body {
  flex: 1;
  display: flex;
  /* align-items: center; */
}

.le__leftSide {
  flex: 0.7;
  /* margin-left: 15px; */
  padding: 10px;
  margin-bottom: 25px;
}

.le__first50 {
  flex: 0.5;
  margin: 10px;
}

.le__second50 {
  margin: 10px;
  margin-left: 20px;
  flex: 0.5;
}

.le__leftSideDivision {
  display: flex;
  align-items: baseline;
  flex: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
  padding: 20px;
}

.le__rightSide {
  /* margin-top: 5px; */
  flex: 0.3;
  display: grid;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  place-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.optionToSelect {
  cursor: pointer;
  padding: 4px;
  margin-right: 3px;
}

.optionToSelect:hover {
  background-color: #0dcaf0;
  color: white;
  border-radius: 5px;
}

.popOverOptions::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .le__body {
    flex-direction: column;
  }
  .le__count {
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }

  .le__leftSideDivision {
    flex-direction: column;
  }

  .le__first50 {
    margin-bottom: 10px;
    padding: 5px;
  }
}
